//- footer
.bg-dark.text-center
  p.color-white.opacity-70.p-y-lg peterjhendrick.com © Peter Jeffrey Hendrick. This website is released under the MIT license. </br> Parts of this website are used from the open source repo of bitcore.io. </br> Bitcore™ © 2013-2015 BitPay, Inc. Bitcore is released under the MIT license.
