extends _layouts/primary

block body
  
  .background-element.grid-fade-in.text-center(style="background: url('/images/shadow-grid.png') no-repeat center; height:500px; width:100%")
  .hero.bg-white
    .container.hero-container
      .row
        .col-sm-12
          ul.nav.navbar-nav.space-between.hero-links.hidden-xs-down
            li.nav-item.fade-in-delayed
              a.nav-link(href="/start") Start
            li.nav-item.fade-in-delayed
              a.nav-link(href="/guides") Guides
            li.nav-item.fade-in-delayed
              a.nav-link(href="/api") Docs
            li.nav-item.fade-in-delayed
              a.nav-link(href="/stampingservice") Timestamp
            li.nav-item.fade-in-delayed
              a.nav-link(href="/playground") Playground
            li.nav-item.fade-in-delayed
              a.nav-link(href="http://forum.bitcore.io/") Forum
          .m-t-lg.m-b.fade-in-down.home-logo
          h6.m-b-md.fade-in-up Peter Jeffrey Hendrick
          h4.m-b-md.fade-in-delayed Welcome to my website. Enjoy.
          .m-b-lg-lt-lg
            a(href="/start").btn.btn-primary.fade-in-delayed.btn-margin Get Started
            a(href="/api").btn.btn-secondary.fade-in-delayed.btn-margin Documentation


  .bg-darker.p-y-md.subscribe-bar
    .container
      .row
        .col-lg-12.col-md-12(align="center")
          iframe(src="https://ghbtns.com/github-btn.html?user=peterhendrick&repo=portfolio&type=fork&count=true&size=large&count=true" frameborder="0" scrolling="0" width="132px" height="30px")
          iframe(src="https://ghbtns.com/github-btn.html?user=peterhendrick&repo=portfolio&type=star&count=true&size=large&count=true" frameborder="0" scrolling="0" width="150px" height="30px")
        //- .col-lg-4.col-md-6.col-xs-12.bc-subscription.input-group
        //-   form.validate(action='//bitcore.us7.list-manage.com/subscribe/post?u=29605d300e62d91f5e2520c67&id=c3d06574f5', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        //-     div.bc-subscription.input-group
        //-       input.required.email.form-control(type='email', value='', name='EMAIL')
        //-       div(style='position: absolute; left: -5000px;')
        //-         input(type='text', name='b_29605d300e62d91f5e2520c67_c3d06574f5', tabindex='-1', value='')
        //-       span.input-group-btn
        //-         input.button.btn(type='submit', value='Subscribe', name='subscribe')
        //-   script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        //-   script(type='text/javascript').
        //-     (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);



  .section.bg-white.p-b-0
    .container
      h4.text-center.header__bottom-border Software Developer, Engineer, and Ethical Hacker
      .row
        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.m-b-lg
          p.text-center I am a full stack software engineer using the newest open source technologies. I am interested in all of the latest innovations of the tech industry, espcially the open source community, blockchain technologies and security issues facing an ever growing, vulnerable cyberspace.
      
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center
          img(src="/images/openSource.png").home-images
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Open Source
          p.opacity-70 I believe strongly in the open source community and I am commited to providing my personal projects as open source to be used without limit where possible. This website, and all of it's functionality is released under the MIT license. #[a(href="https://github.com/peterhendrick/portfolio") Click here] for the source code.
          
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center
          img(src="/images/cuLogo.png").home-images
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md University of Colorado at Boulder
          p.opacity-70 I graduated from the University of Colorado at Boulder with a B.S. in Civil Engineering. While at CU, I tutored Calculus and Statics for three years. Though I switched career paths to software, I find that the concepts learned at the Engineering College are contiuously being applied to my work. Further, my time spent tutoring gave me valuable skills at communicating complex concepts to those willing to learn.
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/nodejs.png").home-images
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Built on node.js
          p.opacity-70 In my software career, most of my experience has been in node.js. I love the platform provided by node and I am excited every day to learn new ways to engineer solutions using open source technology and the node platform. This website uses node.js with an express.js server.
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/mongodb.png").home-images
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md MongoDB
          p.opacity-70 In addition to my experience in node.js, I have been intimately involved with MongoDB. The schemaless database is a joy to work with and understand. I've taken courses at Mongo University to understand and become proficient using queries, aggregation, and administration of Mongo.
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/raspberryPi.png").home-images-pi
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Raspberry Pi
          p.opacity-70 In addition to software, I am an avid user of Raspberry Pi. Indeed, the bitcoin node used to serve this site's timestamp functionality is running on a Raspberry Pi at my home. Though originally designed to teach kids how to learn programming, the Pi has been realized to have far more reaching utility. I belive that having a strong foundation in programming and linux based OS is such a valuable skill in the software world. I recommend to all interested in technology to buy a Pi and learn how to program it for their uses.
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/bottom-slice.svg").home-images
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Blockchain Timestamp
          p.opacity-70 The inspiration for this website came from the idea to timestamp digital documents onto the bitcoin blockchain. Bitcoin is an amazing innovation in the world of market based currencies. Aside from the currency aspects of bitcoin, the blockchain ledger has so many groundbreaking uses that we are just now learning the beginning of its utility. I believe that the use of market based currencies and public ledgers will bring prosperity to all of humanity, while reducing the obligation of society to use trusted third parites.

    
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="/start").cta-link.bold.m-b.arrow-dark Get Started
          p.m-t Learn more about Bitcore with one of our guides or Bitcore development tutorials.
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="/api").cta-link.bold.m-b.arrow-dark Documentation
          p.m-t Dive into the full API documentation. Bitcore provides an extensive blockchain API right out of the box, and can be extended with dozens of modules and services.
  
  .section.bg-white
    .container
      h5.text-center.opacity-70.m-b-lg Influenced by the brightest minds.
      .col-lg-10.col-lg-offset-1.col-xs-12.col-sm-12.text-center
        a(href="https://mises.org/")
          img(src='/images/logos/misesLogo.png', alt='Counterparty').project-logo
        a(href="http://counterparty.io/")
          img(src='/images/logos/counterparty.svg', alt='Counterparty').project-logo
        a(href="http://datt.co/")
          img(src='/images/logos/datt.svg', alt='Datt').project-logo
        a(href="https://proofofexistence.com/")
          img(src='/images/logos/proofofexistence.svg', alt='Datt').project-logo
        a(href="http://pheeva.com/")
          img(src='/images/logos/pheeva.svg', alt='Pheeva').project-logo
        a(href="https://streamium.io/")
          img(src='/images/logos/streamium.svg', alt='Streamium').project-logo
        a(href="https://bitpay.com/")
          img(src='/images/logos/bitpay.svg', alt='BitPay').project-logo
        a(href="https://www.blocktrail.com/")
          img(src='/images/logos/blocktrail.svg', alt='Blocktrail').project-logo
        a(href="https://copay.io")
          img(src='/images/logos/copay.svg', alt='Copay').project-logo
